

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.project {
    width: 80%;
    padding: 2%;
    margin: 1% 2%;
}

.sproject {
    width: 60%;
    padding: 2%;
    margin: 1% 2%;
}

#p-list li {
    list-style: none;
}












